<div class="products-search-jumbotron">
  <div class="container">
    <h1 id="static-header">Search</h1>
  </div>
</div>

<%= render partial: "shared/notice_alert" %>

<div class="book-search">
  <h2>Already know what you want?</h2>

  <div class="input-group">
    <%= form_tag("/search_results", method: "get", class: "search-form") do %>
      <%= text_field_tag :q, nil, class: "search-field", placeholder: "Find a book" %>
      <%= submit_tag("Search", class: "search-button") %>
    <% end %>
  </div>
  <br>
  <p>You can search by any available information relating to the book's title, author or description.</p>
</div>

<div class="extra-space"></div>