<div class="static-contact-jumbotron">
  <div class="container">
    <h1 id="static-header">Contact Us</h1>
  </div>
</div>

<%= render partial: "shared/notice_alert" %>

<div class="panel panel-default thank-you-page">
  <div class="panel-body">
    <p>Thank you for your message. We will get back to you as soon as possible.</p>
    <p>Have a nice day!</p>
  </div>

  <%= link_to "Return", '/contact', class: "btn btn-navigate" %>
</div>

<div class="extra-space"></div>