<div class="devise-page">
  <h2><%= resource_name.to_s.humanize %> Profile</h2>

  <%= render partial: "shared/notice_alert" %>

  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="profile-info">
          <h3>Personal Information</h3>
          <br>
            <p>
              <strong>User ID:</strong>
              <%= @user.id %>
            </p>

            <p>
              <strong>First name:</strong>
              <%= @user.first_name %>
            </p>

            <p>
              <strong>Last name:</strong>
              <%= @user.last_name %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>

            <h3>Edit your user info</h3>
            <br>
            <p><%= link_to 'Edit', edit_user_path(@user), class: "btn btn-md btn-primary" %></p>
        </div>
      </div><!-- end of .col-md-6 -->

      <div class="col-md-6">
        <div class="profile-edit-form">
          <h3>Change your password</h3>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
              </span>
              <div class="field">
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Your Email Address" %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
              </span>
              <div class="field">
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Type Your Current Password" %>
              </div>
            </div>
            <br>
            <p>Please enter a new password below</p>

            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
              </span>
              <div class="field">
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Type Your New Password" %>
              </div>
            </div>

            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
              </span>
              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Retype Your New Password" %>
              </div>
            </div>
            <br>
            <div class="actions">
              <%= f.submit "Update", class: "btn btn-md btn-primary" %>
            </div>
          <% end %>

        <div class="cancel-account">
          <h3>Cancel your account</h3>
          <p>Click here to permanently delete your account.</p>
          <%= button_to "Delete Account", registration_path(resource_name), class: "btn btn-md btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div><!-- end of .col-md-6 -->

    </div><!-- end of .row -->
  </div><!-- end of .container -->

</div>