<div class="devise-page">
  <h2>Sign Up</h2>

  <div class="signup-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <p>Please sign up here</p>

      <%= render partial: "shared/notice_alert" %>

      <%= devise_error_messages! %>

      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
        <div class="field">
          <%= f.text_field :first_name, class: "form-control", autofocus: true, placeholder: "First Name" %>
        </div>
      </div>

      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
        <div class="field">
          <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
        </div>
      </div>

      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </span>
        <div class="field">
          <%= f.email_field :email, class: "form-control", placeholder: "Your Email Address" %>
        </div>
      </div>

      <br>

      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
        </span>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Type a Password" %>
        </div>
      </div>

      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
        </span>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Retype your Password" %>
        </div>
      </div>

      <br>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-md btn-primary" %>
      </div>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>

</div>