<div class="user-form">

  <%= render partial: "shared/users_error" %>

  <%= form_for(@user) do |f| %>

    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="actions">
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>

  <% end %><!-- end of form_for -->

  <%= link_to "Return to Profile", '/profile', class: "btn btn-md btn-navigate" %>
</div>