<div class="users-jumbotron">
  <div class="container">
    <h1 id="static-header">Edit User Info</h1>
  </div>
</div>

<%= render partial: "shared/notice_alert" %>

<div class="users-container">
  <%= render 'form' %>
</div>

<div class="extra-space"></div>