<div class="users-jumbotron">
  <div class="container">
    <h1 id="static-header">List of Users</h1>
  </div>
</div>

<%= render partial: "shared/notice_alert" %>

<div class="users-container">

  <p>Here are all registered users:</p>
  <br>

  <div class="users">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>User ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th></th>
          <th colspan="3">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td></td>
            <td><%= link_to ('<span class="glyphicon glyphicon-user" aria-hidden="true"></span>').html_safe, user, class: "btn btn-primary btn-sm", title: "Show" %></td>
            <td><%= link_to ('<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>').html_safe, edit_user_path(user), class: "btn btn-warning btn-sm", title: "Edit" %></td>
            <td><%= link_to ('<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>').html_safe, user, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div><!-- end of .users -->

</div><!-- end of .users-container -->

<div class="extra-space"></div>