<div class="users-jumbotron">
  <div class="container">
    <h1 id="static-header">New User</h1>
  </div>
</div>

<%= render partial: "shared/notice_alert" %>

<div class="container users-container">

  <%= render 'form' %>

  <%= link_to 'Back', users_path, class: "btn btn-navigate" %>

</div>