<div class="users-jumbotron">
  <div class="container">
    <h1 id="static-header">Show User Info</h1>
  </div>
</div>

<%= render partial: "shared/notice_alert" %>

<div class="container users-container">

  <p>
    <strong>User ID:</strong>
    <%= @user.id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <%= link_to "Return", users_path, class: "btn btn-md btn-primary" %>

</div>

<div class="extra-space"></div>