<div class="devise-page">
  <h2>Forgot Your Password?</h2>

  <div class="password-form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <p>Password Reset</p>
      <%= devise_error_messages! %>

      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </span>
        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Reset Password", class: "btn btn-md btn-primary" %>
      </div>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>

</div>