<!-- Rails error message for products -->
<% if @product.errors.any? %>
    <div id="error_explanation">
      <% if @product.errors.count > 1 %>
        <h4>There are <%= pluralize(@product.errors.count, "errors") %>:</h4>
      <% else %>
        <h4>There is an error:</h4>
      <% end %>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>