<!-- Rails error message for users -->
<% if @user.errors.any? %>
  <div id="error_explanation">
    <% if @user.errors.count > 1 %>
      <h4>There are <%= pluralize(@user.errors.count, "errors") %>:</h4>
    <% else %>
      <h4>There is an error:</h4>
    <% end %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>