<!-- Old orders show page - curently not being used -->
<div class="orders-index-jumbotron">
  <div class="container">
    <h1 id="static-header">Current Order</h1>
  </div>
</div>

<%= render partial: "shared/notice_alert" %>

<div class="show-container">
  <h3>Order details for order <%= @order_html.id %>:</h3>
  <br>

  <p>Order ID: <%= @order_html.id %></p>
  <p>Total: <%= number_to_currency(@order_html.total) %></p>
  <p>Shipped: <%= @order_html.shipped %></p>
  <p>Product: <%= @order_html.product.title %></p>
  <p>User Email: <%= @order_html.user.email %></p>


  <div class="bottom-navigation-links">
    <%= link_to 'Back to Orders', orders_path, class: "btn btn-navigate" %>
  </div>

</div>

<div class="extra-space"></div>