<div class="devise-page">
  <h2>Log In</h2>

  <%= render partial: "shared/notice_alert" %>

  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <p>Please log in to continue</p>

      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </span>
        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address" %>
        </div>
      </div>

      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
        </span>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field" id="remember-me">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-md btn-primary" %>
      </div>
    <% end %>

    <%= render 'devise/shared/links' %>

  </div>

</div>