// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General

.devise-page {
  margin: 10% 0;
}

.devise-background {
  background: url("pics/books_devise.jpg") center center;
  background-size: cover;
}

.devise-page h2 {
  color: #dbae58;
}

.devise-page h3 {
  color: #000;
  margin: 0 auto;
}

.devise-page h4 {
  color: #000;
}

// Signup form

.signup-form {
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
}

.signup-form p {
  color: #fff;
}

// Login form

.login-form {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.login-form p {
  color: #fff;
}

#remember-me {
  color: #fff;
}

// Password form

.password-form {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.password-form p {
  color: #fff;
}

// Profile edit form

.profile-info {
  max-width: 450px;
  padding: 10px 15px;
  margin: 2% auto;
  border: 1px solid #000;
  border-radius: 5px;
}

.profile-info p {
  color: #fff;
}

.profile-edit-form {
  max-width: 450px;
  padding: 0 15px;
  margin: 0 auto;
}

.profile-edit-form h3 {
  text-align: center;
}

.profile-edit-form p {
  color: #fff;
}

.cancel-account {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.button_to {
  border: none;
  margin-lef: 0;
}