// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General

// Index

.products-index-jumbotron {
  position: relative;
  background: url("pics/books_products.jpg") center center;
  background-size: cover;
  overflow: hidden;
  min-height: 50vh;
}

#products-subtitle {
  margin-top: 3%;
  font-style: italic;
  text-align: center;
}

.product-container {
  width: 90%;
  margin: 2% auto 5% auto;
  background-color: #dde7ea;
}

.product-row {
  padding: 2%;
}

.book {
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 2%;
}

.product-box {
  margin: 3% 0;
}

.product-title {
  text-align: center;
  padding: 0 3%;
}

.book h2 {
  font-family: Arial, sans-serif;
  color: #4e595c;
  font-style: italic;
  text-align: center;
}

.thumbnail {
  background-color: #f5f5f5;
  display: block;
  border: none;
}

.book-info {
  width: 55%;
  margin: -10px auto 0 auto;
}

// Show

.show-container {
  width: 80%;
  padding: 0;
  margin: 3% auto 10% auto;
}

.show-product-row {
  background-color: #dde7ea;
  border: 1px solid #d3d3d3;
  padding: 2% 0;
}

#show-product-image {
  margin: 2% auto;
}

.show-product-info {
  margin: 2% 0;
}

.show-container form {
  border: none;
  padding: 0 0 10px 0;
  margin: 0 auto;
}

.overall-rating {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

#overall-star-rating {
  margin-left: 5px;
}

.product-comments {
  display: block;
}

.comment-row {
  padding: 0 15px;
}

.review-form form {
  margin-left: 0;
  border: none;
}

#comment-delete:hover {
  background-color: #dde7ea;
  color: red;
  text-decoration: none;
}

.edit-delete-links {
  margin-top: 25px;
}

.show-browse-links {
  text-align: center;
}

.show-browse-links p {
  display: inline;
  font-size: 1.5em;
  font-style: italic;
}

.btn-show-browse {
  background-color: #dde7ea;
}

.btn-show-browse:hover {
  background-color: #c6cfd2;
}

.btn-edit-delete {
  background-color: #aaa;
  color: #fff;
}

.btn-edit-delete:hover {
  background-color: #444;
  color: #fff;
}

.alert-posting {
  font-size: 1.5em;
  color: red; 
}

// New

.new-product-container {
  width: 80%;
  margin: 20px auto 0 auto;
}

// Edit

.edit-product-container {
  width: 80%;
  margin: 0 auto;
}