// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index page

#static-index-container {
  width: 95%;
  margin: 3% auto 0 auto;
}

.static-index-jumbotron {
  position: relative;
  background: url("pics/island.jpg") center center;
  background-size: cover;
  overflow: hidden;
  min-height: 50vh;
}

#left-sidebox {
  text-align: center;
  margin: 0 auto 3% auto;
}

#twitter-api {
  height: 450px;
}

#main-box {
  height: 450px;
  background-color: #d3d3d3;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 2%;
  margin: 0 auto 3% auto;
}

#right-sidebox {
  text-align: center;
  padding-left: 0;
}

.lower-icon-row {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.icon-box {
  max-width: 150px;
  padding: 10px;
  border-radius: 5px;
  margin: 2%;
  background-color: #d3d3d3;
}

.icon-box img {
  margin: 0 auto;
}

.icon-box p {
  text-align: center;
}

// Featured product carousel

#featured-product-header {
  margin-top: 0;
}

#image-carousel {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 5%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: auto;
}

.carousel-control.left, .carousel-control.right {
  background-color: #fff;
  background-image: none !important;
  filter: none !important;
}

.carousel-caption {
  font-size: 1.75em;
  font-weight: bold;
  color: #e50000;
  display: none;
}

// Search page

.search-form {
  border: none;
}

.products-search-jumbotron {
  position: relative;
  background: url("pics/books_search.jpg") center center;
  background-size: cover;
  overflow: hidden;
  min-height: 50vh;
}

.book-search {
  width: 80%;
  background-color: #d3d3d3;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 3%;
  margin: 2% auto 0 auto;
}

.input-group {
  margin: auto;
}

.search-form {
  width: 500px;
  margin: 50px auto;
}

.search-field {
  width: 366px;
  padding: 8px 15px;
  background: #f1f1f1;
  border: 0px solid #dbdbdb;
}

.search-button {
  position: relative;
  padding: 6px 15px;
  left: -3px;
  border: 2px solid #207cca;
  background-color: #207cca;
  color: #fafafa;
}

.search-button:hover {
  background-color: #1c6fb5;
  color: #207cca;
}

.book-search p {
  text-align: center;
}

// Search results page

#btn-search-back {
  background-color: #d3d3d3;
  margin: 5% auto 5% 10%;
}

.btn-search-back:hover {
  background-color: #a8a8a8;
}

// About page

.static-about-jumbotron {
  position: relative;
  background: url("pics/books_about.jpg") center center;
  background-size: cover;
  overflow: hidden;
  min-height: 50vh;
}

.static-about-container {
  width: 80%;
  padding: 2%;
  margin: 2% auto;
}

#munich-pic {
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  margin: 0 auto 4% auto;
}

// Contact page

.static-contact-jumbotron {
  position: relative;
  background: url("pics/books_contact.jpg") center center;
  background-size: cover;
  overflow: hidden;
  min-height: 50vh;
}

.static-contact-container {
  width: 65%;
  margin: 5% auto 2% auto;
}

#contact-info {
  line-height: 2.5;
}

#contact-info ul {
  list-style: none;
  background-color: #f5f5f5;
}

#contact-info li {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  color: #588998;
}

.glyphicon {
  margin-right: 7px;
}

// Contact form

form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2%;
  margin: 3% auto;
}

input, textarea {
  font-family: Verdana, serif;
  font-size: 1.5em;
  color: #34495e !important;
  resize: none;
}

.form-group {
  margin: 0 auto 2% auto;
}

.form-control {
  background-color: #f5f5f5;
}

.form-control:focus {
  outline: none;
  border:1px solid #707f8e;
  box-shadow: 2px 2px 10px #d3d3d3;
}

#form-button {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #707f8e !important;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 2px solid #707f8e;
  color: #707f8e;
}

#form-button:hover,
#form-button:focus {
  color: #588998 !important;
  border-color: #588998;
}

#form-button:active {
  background-color: #588998;
  border-color: #588998;
  outline: none;
  color: #fff !important;
  box-shadow: none;
}

.thank-you-page {
  width: 50%;
  padding: 2%;
  margin: 5% auto;
}

// Misc

.extra-space {
  height: 100px;
}

// Media Queries

@media (max-width: 660px) {
  #left-sidebox {
    display: none;
  }
  #main-box {
    height: auto !important;
  }
  #right-sidebox {
    display: none;
  }
  .search-form {
    width: 300px;
  }
  .search-field {
    width: 180px;
    padding: 4px 7px;
  }
  .search-button {
    padding: 3px 7px;
  }
}
