// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index

.users-jumbotron {
  position: relative;
  background: url("pics/books_devise.jpg") center center;
  background-size: cover;
  overflow: hidden;
  min-height: 50vh;
}

.users-container {
  width: 75%;
  margin: 2% auto 10% auto;
}

.users {
  background-color: #d3d3d3;
}

.users .table thead {
  font-weight: bold;
  text-transform: uppercase;
}

// New

.user-form {
  max-width: 400px;
  margin: 2% auto;
}