<div class="product-comment-form">
  <% @comments.each do |comment| %>
    <div class="row comment-row">
      <p>
        <%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
        <!-- Admin can delete comments -->
        <% if signed_in? && current_user.admin? %>
          <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' }, id: "comment-delete" %>
        <% end %>
      </p>
      <!-- Raty plugin star rating -->
      <p><div class="rated" data-score="<%= comment.rating %>"></div></p>
      <p><%= comment.body %></p>
      <hr>
    </div><!-- end of .comment-row -->
  <% end %>

  <!-- will_paginate pagination for comments -->
  <div class="digg_pagination">
    <%= will_paginate @comments %>
  </div>

</div>