<div class="review-form">
  <!-- User can write review if signed in -->
  <% if signed_in? %>
    <h3>Review this book</h3>
    <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
      <p>
        <%= f.label :body, "Your Review" %><br>
        <%= f.text_area :body, class: "form-control" %>
      </p>
      <p>
        <%= f.label :rating, "Your Rating" %><br>
        <div class="rating"></div>
      </p>
      <br>
      <p>
        <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
      </p>
    <% end %><!-- end of form_for -->
  <% end %><!-- end of signed_in? -->
</div>