<div class="col-md-4 col-sm-6 col-xs-12 product-box">

  <% cache product do %><!-- start of product caching -->

  <div class="book">
    <!-- Title div automatically resized by JS -->
    <div class="product-title">
      <h2><%= product.title %></h2>
    </div>
    <div class="thumbnail"><%= link_to image_tag(product.image_url, class: "img-responsive"), product %></div>
    <div class="book-info">
      <!-- Author div automatically resized by JS -->
      <div class="product-author">
        <p>By <%= product.author %></p>
      </div>
      <p>$<%= product.price %></p>
    </div>
  </div>

  <% end %><!-- end of product caching -->

</div>