<%= image_tag("books_products.jpg", class: "img-responsive") %>
<h1>Edit Product</h1>

<%= render partial: "shared/notice_alert" %>

<div class="edit-product-container">
  <%= render 'form' %>

  <%= link_to 'Back', products_path, class: "btn btn-navigate" %>

</div>