<%= image_tag("pics/books_products.jpg", class: "img-responsive") %>
<h1>Add New Book</h1>

<%= render partial: "shared/notice_alert" %>

<div class="new-product-container">

  <% if signed_in? && current_user.admin? %>
    <%= render 'form' %>
  <% end %>

  <%= link_to 'Back', products_path, class: "btn btn-navigate" %>
</div>