<div class="products-search-jumbotron">
  <div class="container">
    <h1 id="static-header">Your Search</h1>
  </div>
</div>

<%= render partial: "shared/notice_alert" %>

<div class="book-search">
  <div class="container product-container">
    <div class="row product-row">
      <% if @products.present? %>
        <p>Here are the results of your search for "<%= params[:q] %>":</p><!-- Display product search results -->
        <%= render @products %>
      <% else %>
        <p>Sorry, there are books containing "<%= params[:q] %>".</p><!-- No search results -->
      <% end %>
    </div><!-- end of .product-row -->
  </div><!-- end of .product-container -->
</div>

<%= link_to 'Back to Search', '/search', class: "btn btn-navigate", id: "btn-search-back" %>

<div class="extra-space"></div>