<div class="products-index-jumbotron"></div>

  <h1><%= @product.title %></h1>

  <%= render partial: "shared/notice_alert" %>

  <% cache @product do %><!-- start of product caching -->

  <div class="container show-container">
    <div class="row show-product-row" data-product-id="<%= @product.id %>">
      <div class="col-md-4">
        <%= image_tag(@product.image_url, width: "190", class: "img-responsive img-zoom", id: "show-product-image", data_zoom_image: @product.image_url) %>
      </div>

      <div class="col-md-6", id="show-product-info">
        <p>
          <strong>Title:</strong>
          <%= @product.title %>
        </p>

        <p>
          <strong>Author:</strong>
          <%= @product.author %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>

        <p>
          <strong>Price:</strong>
          $<%= @product.price %>
        </p>

        <!-- Payment button appears if user signed in -->
        <% if signed_in? %>
          <%= form_tag "/payments/create" do %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>
        <% end %>

        <div class="product-comments">
          <!-- Overall product rating with Raty plugin -->
          <p class="overall-rating"><b>Overall Rating:</b><div class="rated overall-rating" id="overall-star-rating" data-score="<%= @product.average_rating %>"></div></p>
          <p><b>Others Have Said:</b></p>
          <!-- ActionCable new comment post notification -->
          <div class="alert alert-posting" style="display:none" role="alert">A new comment has been posted!</div>
            <!-- All user comments (reviews) -->
            <%= render 'comments' %>
            <!-- New comment form -->
            <%= render 'new_comment' %>
        </div>

        <!-- Admin can manually edit or delete product -->
        <% if signed_in? && current_user.admin? %>
          <div class="edit-delete-links">
            <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-edit-delete" %>
            <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-edit-delete" %>
          </div>
        <% end %>

    </div><!-- end of .show-product-row -->
  </div><!-- end of .show-container -->

  <% end %><!-- end of product caching -->

    <%= link_to 'Back to Products', products_path, class: "btn btn-navigate" %>
  	
    <div class="show-browse-links">
      <p><%= link_to '< Previous Book', @previous, class: "btn btn-show-browse" %></p>
      <p><%= link_to 'Next Book >', @next, class: "btn btn-show-browse" %></p>
    </div>

</div><!-- end of .products-index-jumbotron -->

<div class="extra-space"></div>