<footer>
  <div class="container">
    <div class="footer-links">
      <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Legal Information</a></p>
      <p><a href="#">Impressum</a> | <a href="#">Return Policy</a></p>
      <p>&copy; 2016, Oasis Books, Inc.</p>
    </div>

    <div class="socia-media-links">
      <p>Connect with us on</p>

      <a class="btn btn-social-icon btn-facebook">
        <span class="fa fa-facebook"></span>
      </a>

      <a class="btn btn-social-icon btn-twitter">
        <span class="fa fa-twitter"></span>
      </a>

      <a class="btn btn-social-icon btn-pinterest">
        <span class="fa fa-pinterest"></span>
      </a>

      <a class="btn btn-social-icon btn-tumblr">
        <span class="fa fa-tumblr"></span>
      </a>
    </div>

  </div><!-- end of .container -->
</footer>