<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-bar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navigation-bar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path, class: "scroll-nav" %></li>
        <li><%= link_to "Products", products_path, class: "scroll-nav" %></li>
        <li><%= link_to "Search", '/search', class: "scroll-nav" %></li>
        <li><%= link_to "About", '/about', class: "scroll-nav" %></li>
        <li><%= link_to "Contact", '/contact', class: "scroll-nav" %></li>
        <% if user_signed_in? && current_user.admin? %>
          <li><%= link_to "View Orders", orders_path, class: "scroll-nav" %></li>
          <li><%= link_to "View Users", users_path, class: "scroll-nav" %></li>
          <li><%= link_to("My Profile", '/profile', class: "scroll-nav") %></li>
          <li><%= link_to("Logout", destroy_user_session_path, :method => :delete, class: "scroll-nav") %></li>
        <% elsif user_signed_in? %>
          <li><%= link_to "My Orders", orders_path, class: "scroll-nav" %></li>
          <li><%= link_to("My Profile", '/profile', class: "scroll-nav") %></li>
          <li><%= link_to("Logout", destroy_user_session_path, :method => :delete, class: "scroll-nav") %></li>
        <% else %>
          <li><%= link_to "Sign Up", '/sign_up', class: "scroll-nav" %></li>
          <li><%= link_to("Login", new_user_session_path, class: "scroll-nav") %></li>
        <% end %>
      </ul>
    </div>
  </div><!-- end of .container-fluid -->
</nav>